{% extends "base_structure.html" %}

{% block title_head %}
Expenses Tracker Home
{% endblock %}

{% block top_heading %}
Your Dashboard
{% endblock %}

{% block content %}

<div class="badge-white text-wrap">
  
   
  <form action="{{ url_for('index_page') }}" method="POST">
    <div class="badge badge-white text-wrap">Want stats for another month?</div>
    <br>
    <select class="badge badge-light" name="mm" id="" required>
      <option value="" selected hidden>Month</option>
      {% for m in months %}
        <option value="{{ m.sno }}">{{ m.month }}</option>
      {% endfor %}
    </select>
    <select class="badge badge-light" name="yy" id="" required>
      <option value="" selected hidden>Year</option>
      {% for m in years %}
        <option value="{{ m }}">{{ m }}</option>
      {% endfor %}
    </select>
    
    <button class="btn btn-sm btn-secondary text-center" type="submit">GO</button>
  </form>
</div>

{% endblock %}

{% block activea %}
active
{% endblock %}

{% block graph_head %}
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Category', 'Total amount'],
        ['Bills',     {{ monthly_records.Bills }}],
        ['Bonus',      {{ monthly_records.Bonus }}],
        ['Entertainment', {{ monthly_records.Entertainment }}],
        ['Food', {{ monthly_records.Food }}],
        ['Health',   {{ monthly_records.Health }}],
        ['House',   {{ monthly_records.House }}],
        ['Salary',    {{ monthly_records.Salary }}],
        ['Transport',    {{ monthly_records.Transport }}],
        ['Extras',    {{ monthly_records.Extras }}]
      ]);

      var options = {
        title: 'This month stats',        
        pieHole: 0.4
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
      chart.draw(data, options);
    }
  </script>

<script type="text/javascript">
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawStuff);

    function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
            ["Type", "Amount expensed"],
            ["Credit", {{ monthly_records.credit_sum }}],
            ["Debit", {{ monthly_records.debit_sum }}],        
        ]);

        var options = {
            width: 450,
            legend: { position: 'none' },
            chart: {
            title: 'Credit vs Debit',
            subtitle: 'Expense comparison this month' },
            colors: ['#FFA62F'],
            bar: { groupWidth: "60%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        
        chart.draw(data, google.charts.Bar.convertOptions(options));
    };
  </script>
{% endblock %}