{% extends "base_structure.html" %}

{% block title_head %}
Manage Accounts
{% endblock %}

{% block expense_form %}
<div style="width: 50%; margin: auto;">
<form action="/manage_accounts" method="POST">
    <input class="form-control" type="text" name="acc_name" id="" placeholder="New Account Name" required/> <br>    
    <input class="btn btn-primary" type="submit" value="Add">    
</form>

<br>

<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;                    
                </button>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class="account-list">
    <table class="table table-outline-light table-hover" style="text-align: center;">            
            
        <thead class="thead-light">
            <tr>
                <th scope="col">Account Name</th> 
                <th scope="col">Date Created</th>
            </tr>
        </thead>
        {% for i in X %}
            <tr>
                <td>{{ i.account_name }}</td>
                <td>{{ i.date_created }}</td>
            </tr>
        {% endfor %}
    </table>    
</div>
</div>
{% endblock %}

{% block top_heading %}
Manage accounts here
{% endblock %}

{% block activee %}
active
{% endblock %}


{% block graphvisibility %}
hidden
{% endblock %}